# Dependencies
node_modules

# Chrome loads this directory in development mode as unpacked extension
dev

# Production build
build

# Signing key for the Chrome extension
key.pem

# Compressed Chrome extension
*.crx
*.zip

# Misc
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
